.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.LOGO {
  margin-left: 200px;
}

.navbar-menu {
  display: flex;
  margin-right: 30px;
  list-style: none;
  gap: 20px;
  color: #49557e;
}

.navbar .active {
  padding: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}
